nav.navbar.navbar-default {
  margin-bottom: 0;
}

p{
  color: white;
  font-size: x-large;
  text-shadow: 3px 3px 10px black;
}
nav{
  background-color:black
}
td{
  border-radius: 2px;
  border-color: black;
}
.tableRow{
  width: 100%;
}
.column{
  width: 20%;
}
:hover.sortButton{

  color:black;
  text-shadow: 1px 1px 10px white;
  cursor: grab;
  
  
}
a{
  margin-top: 10px;
}
.title{
  margin-right: 18%;
  color: white;
}
.fullApp{
  background-color: black;
  height: 100%;
}
table{
  margin-top: 3%;
}
.thumbNailImage{
  border-radius: 50%;
}