nav.navbar.navbar-default {
  margin-bottom: 0;
}

p{
  color: white;
  font-size: x-large;
  text-shadow: 3px 3px 10px black;
}
nav{
  background-color:darkblue
}
td{
  border-radius: 2px;
  border-color: black;
}
.tableRow{
  width: 100%;
}
.column{
  width: 20%;
}